<style type="text/css" title="printCards">
/* PLEASE LEAVE THIS STYLESHEET INLINE SINCE TITLE IS NECESSARY */
@media print {
    #interface {
        display: none;
    }

    .pb {
        page-break-after: always;
        clear: both;
    }
}

#interface, #printSection {
    margin: 20px;
}

html {
    background-color: #fff;
    color: #000;
    font: 14pt / 1.26 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.cb {
    clear: both;
}

.artifact {
    background-color: #fff;
    border: 2px solid #000;
    float: left;
    width: 4.55in;
    margin: 0.3in 0in 0in 0.3in;
    position: relative;
    overflow: hidden;
}
.r1 {
    display: table-row;
    border: 1px;
    border-bottom-style: solid;
    margin-bottom: 2px;
    height: 0.5in;
    font: 14pt / 1.26 Arial, Helvetica, sans-serif;
    color: #000000;
    text-align: center;
}

.r1left {
    display: table-cell;
    padding-top: 0.5em;
    padding-left: 0.5em;
    overflow: hidden;
    border-right: 1px solid #000;
    width: 1.5in;
}

.r1middle {
    display: table-cell;
    padding-top: 0.5em;
    padding-left: 0.5em;
    overflow: hidden;
    width: 1.75in;
    border-right: 1px solid #000;
}

.r1right {
    display: table-cell;
    padding-top: 0.5em;
    padding-left: 0.5em;
    overflow: hidden;
    width: 1.5in;
}

.r2{
    border: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    margin-top: 2px;
    font-family: NotoSans, Helvetica, Arial;
    font-size: 12pt;
    padding-left: 0.5em;
    overflow: hidden;
    padding-right: 0.5em;
}

.r2middle {
    display: block;
    vertical-align: middle;
    text-align: left;
    height: 2.25in;
}

.r3{
    border: 1px;
    border-bottom-style: solid;
    height: 0.5in;
    padding-left: 0.5em;
    text-align: center;
}

.r3left {
    display: table-cell;
    padding-top: 0.5em;
    padding-left: 0.5em;
    overflow: hidden;
    border-right: 1px solid #000;
    width: 2.3in;
}

.r3right {
    display: table-cell;
    padding-top: 0.5em;
    padding-left: 0.5em;
    overflow: hidden;
    width: 2.3in;
}

.header {
    border: 1px;
    border-bottom-style: solid;
    display: table-cell;
    height: 40px;
    vertical-align: middle;
}

.card-title {
    font: bold 28px Genova, sans-serif;
    padding-top: 0.5em;
    text-align: center;
}

.description {
    float: left;
    font: 12pt Georgia, sans-serif;
    margin: 0.25em auto 0 auto;
    padding-left: 1.0em;
    padding-right: 1.0em;
    overflow-y: hidden;
    width: 100%;
    word-wrap: break-word;
}

.owner {
    float: right;
    height: 40px;
}

.ownerText {
    float: right;
    font: 14pt / 1.26 Arial, Helvetica, sans-serif;
    margin-right: 0.3em;
    margin-top: 0.3em;
}

.card-id {
    float: left;
    font: 14pt / 1.26 Arial, Helvetica, sans-serif;
    margin-left: 0.25em;
    margin-top: 0.3em;
}

.estimate {
    bottom: 0.5em;
    position: absolute;
    right: 0.5em;
}

.content {
    height: 2.4in;
    overflow: hidden;
}
</style>